@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Lato;
}

/*
!first block"BINARY"
*/
.binary {
  background: url("..//img/binary/BG-Header.png") 0 0 no-repeat;
  width: 100%;
  height: 1282px;
  margin: 0 auto;
}
.binary__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 274px;
}
.binary__title {
  color: #ffffff;
  font-family: "Lato - Black";
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5.43px;
  padding-top: 145px;
  margin-bottom: 250px;
}
.binary__title .subtitle {
  font-family: Lato;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
  text-transform: none;
}
.binary__title::after {
  content: "";
  position: absolute;
  width: 100px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: white;
  margin: 0px 0px -40px -50px;
}
.binary__button {
  border: 1px solid white;
  width: 182px;
  height: 47px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  padding-top: 16px;
}
.binary__arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 75px;
}

.binary-menu {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.binary-menu__first:hover {
  color: #ada074;
  font-weight: 700;
}
.binary-menu__second {
  margin-left: 60px;
}
.binary-menu__second:hover {
  color: #ada074;
  font-weight: 700;
}
.binary-menu__third {
  margin-left: 60px;
}
.binary-menu__third:hover {
  color: #ada074;
  font-weight: 700;
}
.binary-menu__fourth {
  margin-left: 60px;
}
.binary-menu__fourth:hover {
  color: #ada074;
  font-weight: 700;
}

/*
!second block"ABOUT"
*/
.about {
  height: 732px;
  width: 100%;
  background-color: #ffffff;
}
.about__body {
  max-width: 832px;
  margin: 0 auto;
  padding-top: 100px;
}
.about__header {
  margin: 0px 0px 65px 0px;
}
.about__title {
  margin: 0px 0px 60px 0px;
}
.about__text {
  width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  text-align: center;
  margin: 0 auto;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0p 30px 0px;
}
.title::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: black;
  margin: 0px 0px -30px -25px;
}

.item-about__icon {
  border-radius: 50%;
  margin: 0px auto;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 40px 80px;
}
.item-about__title {
  width: 250px;
  height: 17px;
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.52px;
  margin: 0 0 40px 0;
}
.item-about__text {
  text-align: center;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.portfolio {
  padding-top: 147px;
  width: 100%;
  height: 1760px;
  background-color: #f3f3f3;
}

.portfolio-menu {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.portfolio-menu__first:hover {
  color: #ada074;
  font-weight: 700;
}
.portfolio-menu__second {
  margin-left: 60px;
}
.portfolio-menu__second:hover {
  color: #ada074;
  font-weight: 700;
}
.portfolio-menu__third {
  margin-left: 60px;
}
.portfolio-menu__third:hover {
  color: #ada074;
  font-weight: 700;
}
.portfolio-menu__fourth {
  margin-left: 60px;
}
.portfolio-menu__fourth:hover {
  color: #ada074;
  font-weight: 700;
}

.block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 90px;
  padding-bottom: 64px;
  /* flex-элемент */
  /* контент */
}
.block__row .block__element {
  border: 25px solid #f3f3f3;
  margin: -7px 0;
}
.block__row .block__content {
  width: 538px;
  height: 365px;
  background-color: #eaeaea;
}

.portfolio__button {
  margin-top: 64px;
  border: 1px solid black;
  width: 182px;
  height: 47px;
  margin: 0 auto;
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding-top: 17px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.67px;
}

.partners {
  background: url("..//img/partners/BG-Header_copy.png") 0 0 no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  margin: 0 auto;
}
.partners__title {
  padding-top: 100px;
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.8px;
}

.block__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block__row2 .block {
  margin-top: 93px;
  padding: 0 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}